{% extends 'base.html' %}
{% block head_tags %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">Stripe.setPublishableKey('pk_test_p0c5Rc1Mjs0cY9GfbzMhieLi');</script>
{% endblock head_tags %}
{% block content %}
   {% if messages %}
      {% for message in messages %}
         <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
   {% endif %}

   <form id="payment-form" class="mango-form vertical" method="POST">
      {% csrf_token %}
      <h2>Total: &#36;{{ total }}</h2>
      <h3>Shipping Address</h3>
      {{ form.as_p }}
      <h3>Billing Info</h3>
      <span class="payment-errors"></span>
      <p><label>Card Number</label><input type="text" size="20" data-stripe="number" value="4242424242424242"/></p>
      <p><label>CVC</label><input type="text" size="4" data-stripe="cvc" value="123"/></p>
      <p><label>Expiration (MM/YYYY)</label><input type="text" size="2" data-stripe="exp-month" value="12"/>
         <span> / </span><input type="text" size="4" data-stripe="exp-year" value="2015"/></p>
      <button type="submit">Submit Order</button>
   </form>

<script>
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);
    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);
    Stripe.card.createToken($form, stripeResponseHandler);
    // Prevent the form from submitting with the default action
    return false;
  });
});
function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');
  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>
{% endblock content %}
