{% extends 'base.html' %}
{% load staticfiles %}

{% block head_tags %}
<script src="{% static 'carts/js/ctrl.js' %}"></script>
{% endblock head_tags %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
  {% endfor %}
{% endif %}
<div ng-app="cartitemsApp">
    <div ng-init="init()" ng-controller="cartitemsController">
        <div ng-repeat="cartitem in data">
            <div style="height: 100px; width:100px; background-color: {[{cartitem.product.color}]}"></div>
            <p>{[{ cartitem.product.name }]}</p>
            <p>{[{ cartitem.product.price }]}</p>
            <div><input id="rester" type="number" ng-model="qty" ng-init="qty=cartitem.qty"/><button ng-click="update_qty(cartitem.id, qty, '{{ csrf_token }}')">Update Quantity to {[{ qty }]}</button></div>
            <button ng-click="removeitem(cartitem.id)">Remove</button>
        </div>
        <a href="{% url 'checkout:index' %}">Checkout</a>
    </div>
</div>
{% endblock content %}
